# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Llama-2-7b directory checkpoint
Llama-2-7b/

# macOS system files
.DS_Store
**/.DS_Store